<div class="disqus-container">
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ page.url }}';
      this.page.identifier = '{{ page.id }}';
      this.callbacks.onReady.push(function(){ window.disqusInstalled = true; });
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://chiloh-wei.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<script type="text/javascript">
    // 每隔 1 秒检查一次 Disqus评论系统 是否成功加载
    var checkInterval = setInterval(function() {
    if (typeof window.disqusInstalled === 'undefined') {
        // 如果 Disqus评论系统 没有成功加载，就隐藏 disqus-container
        var container = document.querySelector('.disqus-container');
        if (container) {
            container.style.display = 'none';
        }
        // 停止检查
        clearInterval(checkInterval);
    }
    }, 1000);
</script>