// UTILITY MIXINS
// --------------------------------------------------

@mixin need-dotted {
  border-bottom: 1px dotted #c0c0c0;
  &:hover {
    border-bottom-style: solid;
  }
}

// Button base styles
@mixin btn-base() {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 20px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  background-color: #24292f;
  color: #fff;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #24292f;
  border-radius: 3px;
  text-decoration: none;
  box-sizing: border-box;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: #24292f;
  }
}
